# Залежності для завдання 1 (PostgreSQL)
psycopg2-binary==2.9.7
Faker==19.6.2

# Залежності для завдання 2 (MongoDB)
pymongo==4.5.0

# Додаткові корисні бібліотеки
python-dotenv==1.0.0  # для роботи з .env файлами
